#video-player{
    position: relative;
    width: 50rem;
}
#main-video{
    width: 100%;
}
*{
    box-sizing: border-box;
}
.coverHolder{
    position: absolute;
    pointer-events: none;
    z-index: 998;
    bottom:  0;
    overflow: hidden;
}
svg{
    pointer-events: none;
}
.percentsHolder{
    position: absolute;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    pointer-events: none;
    padding-left: 5rem;
    padding-right: 5rem;
}
.percentsHolder>*{
    text-align: center;
}
.dotHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}
